<%= form_with model: [ @post, @comment ] do |form| %>

  <%= form.hidden_field :parent_id, value: parent_id if parent_id.present? %>

  <div class="field form_field">
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit "Comment", class: 'submit_form btn btn-outline-info text-dark d-inline-block float-right' %>
  </div>
<% end %>
