<div class="card ml-2">
  <div class="card-header">
    <h2>Add a comment:</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Only authorized users allowed to leave comments!</h5>
    <%= link_to "Sign Up", signup_path, class: 'btn btn-primary text-white mt-4' %>
    <%= link_to "Log In", login_path, class: 'btn btn-primary ml-3 text-white mt-4' %>
  </div>
</div>
