<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <section class="col-12 pt-5">
      <h1>Editing Comment</h1>
      <%= render 'comments_form', post: @comment, parent_id: @comment.parent_id %>
      <div class="pt-2">
        <%= link_to 'Back', post_path(@post), class: "btn btn-primary text-white mr-1" %>
      </div>
    </section>
  </div>
</div>
