<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <section class="col-7 pt-5">
      <h1>Editing Post</h1>
      <%= render 'form', post: @post %>
      <div class="pt-2">
        <%= link_to 'Show', @post, class: "btn btn-primary text-white mr-1"  %> |
        <%= link_to 'Back', posts_path, class: "btn btn-primary text-white mr-1" %>
      </div>
    </section>
  </div>
</div>
